/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a {
  text-decoration: none; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  width: 100%; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  padding: 0;
  font: inherit; }

:root {
  font-size: 16px; }

body {
  font-family: roboto, Helvetica, sans-serif;
  font-size: 1rem; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.2rem; }

h4 {
  font-family: Shrikhand, Helvetica, sans-serif;
  font-size: 1.1rem; }

h5 {
  font-size: 1.1rem; }

p {
  font-size: 1rem; }

.header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 5px gray;
  height: 65px;
  align-items: center; }
  .header .header__title {
    text-align: center; }
    .header .header__title h1 {
      color: black;
      font-family: Shrikhand; }

.main {
  padding-bottom: 50px;
  background: rgba(189, 189, 189, 0.2); }
  .main label {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    background: rgba(204, 204, 204, 0.42); }
  .main input {
    align-content: center;
    padding-left: 15px;
    height: 100%;
    width: 160px;
    background: transparent;
    border: none; }
  .main h2 {
    text-align: center;
    margin: 30px 70px auto;
    padding-bottom: 10px; }
  .main h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px; }
  .main p {
    font-weight: lighter;
    text-align: center;
    padding: 0 20px 20px; }
  .main button {
    display: block;
    margin: auto;
    width: 220px;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 25px;
    background: linear-gradient(#FF79DA, #9356DC);
    box-shadow: 0 3px 7px grey; }

.option {
  padding: 60px 20px;
  position: relative; }
  .option ul {
    padding-left: 10px; }
  .option .option__link {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: repeat(3, 70px); }
    .option .option__link .resto, .option .option__link .menu {
      display: flex;
      padding: 0 40px;
      align-items: center;
      background: rgba(189, 189, 189, 0.2);
      border-radius: 20px;
      box-shadow: 0 3px 10px lightgray; }
      .option .option__link .resto .fas, .option .option__link .menu .fas {
        width: 40px;
        font-size: 18px; }
    .option .option__link .eat {
      display: flex;
      padding: 0 40px;
      align-items: center;
      background: rgba(195, 154, 243, 0.24);
      border-radius: 20px;
      box-shadow: 0 3px 10px lightgray; }
      .option .option__link .eat .fas {
        width: 40px;
        font-size: 18px;
        color: #9356DC; }
  .option .option__link li:nth-child(1)::before {
    content: "1";
    color: white;
    font-size: 14px;
    background: #9356DC;
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    left: 17px;
    border-radius: 50px; }
  .option .option__link li:nth-child(2)::before {
    content: "2";
    color: white;
    font-size: 14px;
    background: #9356DC;
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    left: 17px;
    border-radius: 50px; }
  .option .option__link li:nth-child(3)::before {
    content: "3";
    color: white;
    font-size: 14px;
    background: #9356DC;
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    text-align: center;
    left: 17px;
    border-radius: 50px; }
  .option h2 {
    padding-bottom: 20px; }

.card {
  padding: 60px 20px;
  display: grid;
  grid-gap: 20px;
  background: rgba(189, 189, 189, 0.2); }
  .card article {
    box-shadow: 0px 5px 5px lightgrey;
    border-radius: 20px; }
  .card img {
    height: 180px;
    margin: auto;
    object-fit: cover;
    object-position: bottom;
    border-radius: 20px 20px 0 0; }
  .card figcaption {
    position: relative;
    padding: 15px;
    color: black;
    background: white;
    border-radius: 0 0 20px 20px; }
    .card figcaption p {
      font-weight: lighter; }
  .card .fa-heart {
    position: absolute;
    right: 20px;
    bottom: 30px;
    font-size: 22px;
    font-weight: lighter; }
  .card .fa-heart:hover {
    color: linear-gradient(#FF79DA, #9356DC); }

.footer {
  padding: 20px;
  background: rgba(0, 0, 0, 0.78);
  color: white; }
  .footer h4 {
    padding-bottom: 10px;
    font-family: Shrikhand;
    color: white; }
  .footer .footer__link {
    display: flex;
    flex-direction: column; }
  .footer .fas {
    width: 25px; }

/*# sourceMappingURL=style.css.map */
