.option__link {
  width: 500px;
  margin: auto;
}
.card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  h2 {
    padding-bottom: 10px;
    grid-column-start: 1;
    grid-column-end: 5;
  }
}