.header {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 5px gray;
  height: 65px;
  align-items: center;
  position: relative;
  .header__title {
    text-align: center;
    h1 {
      color: black;
      font-family: Shrikhand;
    }
  }
  .header__link {
    position: absolute;
    left: 25px;
    font-size: 18px;
    color: black;
  }

}