.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px 0 20px;
  .header__link {
    padding-top: 20px ;
    color: black;
  }
  .header__title {
    margin: 10px auto;
    color: black;
    font-family: Shrikhand;
  }
}