body {
  position: relative;
  .loader {
    height: 100%;
    width: 100%;
    background-color: grey;
    opacity: 0.9;
    position: fixed;
    z-index: 1;
    animation: loading 1s forwards;
    animation-delay: 3s;
  }
  .loader div {
    display: inline-block;
    position: absolute;
    margin-left: calc(90%/2);
    margin-top: calc(80%/2);
    left: 8px;
    width: 16px;
    animation: load 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
    background: $green;
  }
  .loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
    background: $pinky;
  }
  .loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
    background: $purple;
  }
}