body {
  position: relative;
  .loader {
    height: 100%;
    width: 100%;
    background-color: grey;
    opacity: 0.9;
    position: fixed;
    z-index: 1;
    animation: loading 10ms forwards;
    animation-delay: 3s;
  }
  .loader div {
    display: inline-block;
    position: absolute;
    height: 80px;
    width: 80px;
  }
  .loader:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 250px auto;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff $pinky $purple $green;
    animation: loader 1.2s infinite;
  }
}