$purple: #9356DC;
$pinky: #FF79DA;
$green: #99E2D0;
$logo_black: black;
$color_white: white;
$colorfooter: rgba(0,0,0,0.78);
$grey_label:rgba(204,204,204,0.42);
$background_grey: rgba(189,189,189,0.2);